@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
@import url(style.css);

@media (max-width: 1440px) {
  html {
    font-size: 9.5px;
  }
  header {
    height: 8.5rem;
    width: 151rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 10px;
  }
  header {
    height: 7.2rem;
    width: 102.4rem;
  }
  .logo_img {
    height: 2rem;
    width: 14rem;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 8.5px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 7.5px;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 7px;
  }
}
