/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

:root {
  --accent: #e67e22;
  --dark_accent: #cf711f;
  --bright_background: #fdf2e9;
  --first_text: #333;
  --second_text: #555;
  --third_text: #6f6f6f;
  --white: #ffffff;
  --contrast: #dddddd;
  --green: #51cf66;
  --light_green: #94d82d;
  --yellow: #ffd43b;
  --footer_border: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  color: #333;
  font-size: 1.6rem;
}

a {
  color: var(--first_text);
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--dark_accent);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

/* HEADER */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  height: 8rem;
  width: auto;
  background-color: var(--white);
  box-shadow: 0px 0px 10px black;
}

.logo_img {
  height: 2rem;
  width: 16.4rem;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 3.5rem;
  font-size: 1.8rem;
  color: var(--first_text);
}

.try {
  margin-top: -1rem;
  height: 4.2rem;
  width: 16.6rem;
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: var(--white);
  background-color: var(--accent);
  border: none;
  border-radius: 1rem;
}

.try:hover {
  cursor: pointer;
  background-color: var(--dark_accent);
}

/* BODY */

.hero {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: var(--first_text);
  background-color: var(--bright_background);
  height: 72rem;
  width: auto;
}

.left {
  height: auto;
  flex: 1;
  width: 50%;
}

.slogan {
  display: flexbox;
  margin: 10rem 0px 2rem 38rem;
  font-weight: bold;
  font-size: 4.8rem;
  height: 21.9rem;
  width: 54rem;
}

.under_text {
  display: flexbox;
  margin: 0px 0px 4rem 38rem;
  color: var(--second_text);
  font-size: 2rem;
  font-weight: 400;
  width: 46rem;
  line-height: 3.2rem;
}

.hero_buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: max-content;
  width: max-content;
}

.eat {
  display: inline-flex;
  margin: 3rem 0 4rem 38rem;
  color: var(--white);
  background-color: var(--accent);
  font-size: 2rem;
  line-height: 2rem;
  height: 5.2rem;
  width: 34.6rem;
  border: none;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
}

.eat:hover {
  cursor: pointer;
  background-color: var(--dark_accent);
}

.more {
  display: inline-flex;
  margin: 3rem 0 4rem 2rem;
  color: var(--first_text);
  background-color: var(--white);
  font-size: 2rem;
  line-height: 2rem;
  height: 5.2rem;
  width: 19.1rem;
  border: none;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  transition: transform 1.5s;
}

.more:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.ava_container {
  display: flex;
  flex-direction: row;
  margin: 2rem 0 4rem 40rem;
}

.avatars {
  display: inline-flex;
  flex-wrap: wrap;
  height: max-content;
  width: max-content;
}

.first_img,
.second_img,
.third_img,
.fourth_img,
.fifth_img,
.sixth_img {
  height: 5.2rem;
  width: 5.2rem;
  border: 0.3rem solid var(--bright_background);
  border-radius: 2.4rem;
  margin-left: -2rem;
}

.deliveries {
  color: var(--first_text);
  margin: 2rem 0 0 2rem;
  font-size: 1.8rem;
}

.orange {
  color: var(--accent);
}

.right {
  display: flex;
  flex: -1;
  width: 50%;
  flex-direction: column;
  align-content: space-between;
}

.coll {
  margin: 10rem 0 4rem 10rem;
  height: 50rem;
  width: 57rem;
}

/* Recomend & info */

.recomend {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: auto;
  padding-top: 4rem;
}

.r_text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--second_text);
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}

.crunch,
.b_i,
.times,
.forbes,
.usa_today {
  margin: 2.4rem 0 4rem 2.4rem;
  height: 3.2rem;
}

.crunch {
  width: 22.5rem;
  opacity: 50%;
}

.crunch:hover {
  opacity: 100%;
  cursor: pointer;
}

.b_i {
  width: 100px;
  opacity: 50%;
}

.b_i:hover {
  opacity: 100%;
  cursor: pointer;
}

.times {
  width: 24.4rem;
  opacity: 50%;
}

.times:hover {
  opacity: 100%;
  cursor: pointer;
}

.forbes {
  width: 12.3rem;
  opacity: 50%;
}

.forbes:hover {
  opacity: 100%;
  cursor: pointer;
}

.usa_today {
  width: 17.2rem;
  opacity: 50%;
}

.usa_today:hover {
  opacity: 100%;
  cursor: pointer;
}

.how_work {
  display: flex;
  flex-direction: column;
  padding: 4rem 0 4rem 48rem;
}

.hw_text {
  color: var(--dark_accent);
  font-size: 1.6rem;
}

.explain {
  padding-top: 2rem;
  color: var(--first_text);
  font-size: 4.4rem;
  font-weight: bold;
}

/* Steps */

.steps {
  display: flex;
  flex-direction: column;
}

.step {
  display: flex;
  flex-direction: row;
  padding: 4rem 0 4rem 48rem;
}

.text > h2 {
  font-size: 8.6rem;
  color: var(--contrast);
}

.text > h3 {
  font-size: 3rem;
  color: var(--first_text);
  width: 54rem;
  line-height: 3.6rem;
  padding: 2rem 0 2rem 0.5rem;
}

.text > p {
  font-size: 1.8rem;
  color: var(--second_text);
  width: 54rem;
  padding-left: 0.5rem;
  line-height: 3.24rem;
}

.step_img1 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: row;
  padding-left: 24rem;
}

.step_img1 img {
  height: 38rem;
  width: 18.8rem;
}

.step_img1::before,
.step_img1::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.step_img1::before {
  height: 32rem;
  width: 32rem;
  background-color: #fdf2e9;
  z-index: -2;
  top: 133rem;
  left: 135rem;
}

.step_img1::after {
  height: 24rem;
  width: 24rem;
  background-color: #fae0c9;
  z-index: -1;
  position: relative;
  top: 4rem;
  left: -100px;
}

.step.reverse {
  flex-direction: row-reverse;
  padding-right: 40rem;
}

.step_img2 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: row;
}

.step_img2 img {
  height: 38rem;
  width: 18.8rem;
}

.step_img2::before,
.step_img2::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.step_img2::before {
  height: 32rem;
  width: 32rem;
  background-color: #fdf2e9;
  z-index: -2;
  top: 180rem;
  right: 96rem;
}

.step_img2::after {
  height: 24rem;
  width: 24rem;
  background-color: #fae0c9;
  z-index: -1;
  position: relative;
  top: 4rem;
  left: -10rem;
}

.step_img3 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: row;
  padding-left: 24rem;
}

.step_img3 img {
  height: 38rem;
  width: 18.8rem;
}

.step_img3::before,
.step_img3::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.step_img3::before {
  height: 32rem;
  width: 32rem;
  background-color: #fdf2e9;
  z-index: -2;
  top: 226rem;
  left: 135rem;
}

.step_img3::after {
  height: 24rem;
  width: 24rem;
  background-color: #fae0c9;
  z-index: -1;
  position: relative;
  top: 4rem;
  left: -10rem;
}

/* RECIPES */

.recipes_text {
  display: flex;
  flex-direction: column;
  margin: 6rem 0;
  align-items: center;
}

.recipes_text > h3 {
  color: var(--accent);
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}

.recipes_text > h2 {
  color: var(--first_text);
  font-size: 4.4rem;
  line-height: 5.2rem;
  width: 100rem;
  text-align: center;
  max-width: 120rem;
}

.dishes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  justify-content: center;
  align-items: start;
  padding: 0 10rem;
  margin-bottom: 8rem;
  max-width: 160rem;
  margin-left: auto;
  margin-right: auto;
}

.d1_img,
.d2_img,
.d3_img {
  height: 22.4rem;
  width: 100%;
  object-fit: cover;
}

.dish1,
.dish2,
.dish3 {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  height: 50.6rem;
  width: 100%;
  max-width: 33.6rem;
  border-radius: 1rem;
  background-color: var(--white);
  overflow: hidden;
  box-shadow: 0 2.4rem 4.8rem 0 rgba(0, 0, 0, 0.075);
  transition: transform 1.2s ease-out;
}

.dish1:hover,
.dish2:hover,
.dish3:hover {
  transform: translateY(-2rem);
  cursor: pointer;
}

.dish_h3 h3 {
  display: flex;
  text-align: center;
  height: 2rem;
  width: 12.9rem;
  font-size: 1.2rem;
  padding: 0.4rem;
  background-color: var(--green);
  border-radius: 1rem;
  margin: 2rem 0 2rem 2.8rem;
  align-items: center;
  justify-content: center;
}

.dish_h2 h2 {
  font-size: 2.4rem;
  color: #333;
  margin: 0 0 2rem 2.8rem;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 2rem;
  padding-left: 2.8rem;
  padding-bottom: 2rem;
}

.calories,
.nutri,
.rating {
  display: flex;
  align-items: center;
  color: var(--second_text);
  gap: 0.8rem;
}

.dish3_container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.dish_h3_vegan {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 12.9rem;
  font-size: 1.2rem;
  padding: 0.4rem;
  background-color: var(--light_green);
  border-radius: 1rem;
  margin: 2rem 0 2rem 2.8rem;
}

.dish_h3_paleo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 12.9rem;
  font-size: 1.2rem;
  padding: 0.4rem;
  background-color: var(--yellow);
  border-radius: 1rem;
  margin: 2rem 0 2rem 0;
}

.plus {
  width: 100%;
  max-width: 33.6rem;
}

.plus h3 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.diets div {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: var(--second_text);
  gap: 1.6rem;
  margin: 2.4rem 0;
}

.all_receipes {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  line-height: 1.8rem;
  margin-bottom: 8rem;
}

.all_receipes > a {
  color: var(--accent);
}

.all_receipes > a:hover {
  color: var(--dark_accent);
}

/* REVIEWS BLOCK */

.review_block {
  display: flex;
  background-color: var(--bright_background);
  height: 1147px;
  width: auto;
}

.otzivi h3,
h2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.o_text {
  color: var(--dark_accent);
  padding: 20rem 0 4rem 6rem;
}

.try_once {
  color: var(--first_text);
  font-size: 2.4rem;
  width: 83.4rem;
  padding-left: 6rem;
}

.left_profiles {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 50%;
}

.right_gallery {
  margin: 4rem 0 4rem 0;
  padding-bottom: 4rem;
}

.peoples {
  height: auto;
  width: 86.4rem;
  display: flex;
  flex-direction: row;
}

/* LEFT SIDE OF PERSONS */

.left_side {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* DAVE BRYSON */

.f_p {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  margin: 4rem 0 4rem 6rem;
  padding: 1rem;
  height: 26rem;
  width: 45rem;
  border-radius: 1rem;
}

.dave,
.steve,
.ben,
.hanna {
  height: 6.4rem;
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.f_p h2 {
  color: var(--second_text);
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 3.24rem;
  width: 49.5rem;
}

.f_p h3 {
  color: var(--third_text);
  font-weight: normal;
  line-height: 1.6rem;
  padding: 1rem 0 1rem 0;
}

/* STEVE MILLER */

.t_p {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  margin: 4rem 0 4rem 6rem;
  padding: 1rem;
  height: 26rem;
  width: 45rem;
  border-radius: 1rem;
}

.t_p h2 {
  color: var(--second_text);
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 3.24rem;
  width: 43rem;
}

.t_p h3 {
  color: var(--third_text);
  font-weight: normal;
  line-height: 1.6rem;
  padding: 1rem 0 1rem 0;
}

/* RIGHT SIDE OF PERSONS */

.right_side {
  display: flex;
  flex-direction: column;
}

/* BEN HADLEY */

.s_p {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  margin: 4rem 0 4rem 10rem;
  padding: 1rem;
  height: 26rem;
  width: 45rem;
  border-radius: 1rem;
}

.s_p h2 {
  color: var(--second_text);
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 3.24rem;
  width: 42rem;
}

.s_p h3 {
  color: var(--third_text);
  font-weight: normal;
  line-height: 1.6rem;
  padding: 1rem 0 1rem 0;
}

/* HANNAH SMITH */

.fo_p {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  margin: 4rem 0 4rem 10rem;
  padding: 1rem;
  height: 26rem;
  width: 45rem;
  border-radius: 1rem;
}

.fo_p h2 {
  color: var(--second_text);
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 3.24rem;
  width: 38rem;
}

.fo_p h3 {
  color: var(--third_text);
  font-weight: normal;
  line-height: 1.6rem;
  padding: 1rem 0 1rem 0;
}

.f_p:hover,
.t_p:hover,
.s_p:hover,
.fo_p:hover {
  box-shadow: 0 2.4rem 4.8rem 0 #00000026;
  cursor: pointer;
}

/* GALLERY */

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 26rem);
  gap: 0.5rem;
  padding-right: 2.5rem;
}

.gallery div {
  height: 24rem;
  width: 24rem;
  border-radius: 1rem;
  overflow: hidden;
}

.gallery img {
  height: 24rem;
  width: 24rem;
  object-fit: cover;
  border-radius: 1rem;
  transition: transform 1.2s ease-in-out;
}

.gallery img:hover {
  transform: scale(1.2);
  cursor: pointer;
  filter: drop-shadow(0 0 1rem black);
}

/* PRICE BLOCK */

.price_block {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  height: 8.5rem;
  width: 120rem;
  margin: 10rem 0 4rem 60rem;
  gap: 2rem;
}

.price h3 {
  color: var(--dark_accent);
  line-height: 1.6rem;
}

.eat_fine h2 {
  color: #333;
  font-size: 4.4rem;
  line-height: 5.2rem;
}

.price_card {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 0 4rem 18rem;
  gap: 6rem;
  height: 62.6rem;
  width: 120rem;
}

.p_card1,
.p_card2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  height: 62.6rem;
  width: 40.2rem;
  border-radius: 1rem;
  border: 0.2rem solid var(--bright_background);
}

.p_card1 h3,
.p_card2 h3 {
  color: var(--dark_accent);
  font-size: 2rem;
  line-height: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.p_card2 h3 {
  padding-top: 2rem;
}

.ruble_value {
  color: var(--first_text);
  font-size: 6.2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.ruble {
  font-size: 3rem;
  font-weight: bold;
}

.p_card1 h4,
.p_card2 h4 {
  color: var(--third_text);
  padding: 0 2rem 0 2rem;
  line-height: 2.6rem;
  font-weight: normal;
  text-align: center;
  width: 34rem;
}

.roster {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin: 5rem 0 5rem 0;
}

.roster div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.roster p {
  text-indent: 0.25cm;
}

.mark {
  height: 2.4rem;
  width: 2.4rem;
  text-indent: 1.25cm;
}

.cross {
  height: 1.2rem;
  width: 1.2rem;
  margin-left: 0.5rem;
}

.p_card2 {
  background-color: var(--bright_background);
  overflow: hidden;
}

.accent {
  position: relative;
  text-align: center;
  padding: 0.5rem;
  top: 8rem;
  left: 15.4rem;
  height: 3rem;
  width: 24.6rem;
  background-color: var(--yellow);
  transform: rotate(45deg);
}

.eat2 {
  display: flex;
  color: var(--white);
  background-color: var(--accent);
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
  height: 7.2rem;
  width: 28rem;
  border: none;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
}

.eat2:hover {
  cursor: pointer;
  background-color: var(--dark_accent);
}

.p_card1 .eat2 {
  margin-top: 1rem;
}

.p_card2 .eat2 {
  margin-bottom: 7rem;
}

/* TARIFFS */

.tariffs_text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--third_text);
  margin-top: 6rem;
}

.tariffs {
  display: flex;
  flex-direction: row;
  margin: 8rem 0 2rem 0;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.t_circle {
  height: 6.4rem;
  width: 6.4rem;
  border-radius: 3.2rem;
  padding: 1.6rem;
  margin-bottom: 2rem;
  background-color: var(--bright_background);
}

.t1,
.t2,
.t3,
.t4 {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.t2 {
  padding-top: 8rem;
}

.t4 {
  padding-top: 6rem;
}

.t1 h2,
.t2 h2,
.t3 h2,
.t4 h2 {
  color: var(--first_text);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.4rem;
  width: 26rem;
}

.t3 h2 {
  align-items: baseline;
}

.t1 h3,
.t2 h3,
.t3 h3,
.t4 h3 {
  color: var(--third_text);
  font-weight: normal;
  width: 27rem;
  padding-top: 2rem;
  line-height: 3.24rem;
}

.t2 h3 {
  width: 26rem;
}

.t3 h3 {
  width: 24rem;
}

/* DINNER FREE */

.dinner_free {
  display: flex;
  align-items: center;
  width: 112rem;
  background: linear-gradient(135deg, #eb984e 0%, #e67e22 100%);
  border-radius: 1.1rem;
  box-shadow: 0 2.4rem 4.8rem 0 #00000026;
  margin: 4rem auto 10rem auto;
}

.d_text {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 2rem 0 2rem 6rem;
}

.d_text h2 {
  color: var(--first_text);
  font-size: 4.4rem;
  width: 60rem;
  line-height: 5.28rem;
  margin-bottom: 2rem;
}

.d_text h3 {
  color: var(--first_text);
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 3.24rem;
  width: 58rem;
}

.form_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin: 2rem 0 2rem 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form p {
  color: var(--first_text);
  font-weight: 500;
  line-height: 1.6rem;
  width: 28rem;
}

.form input {
  height: 4.6rem;
  width: 28rem;
  border: none;
  opacity: 1;
  border-radius: 1rem;
  background-color: var(--bright_background);
  padding-left: 1rem;
}

.form input:focus {
  outline: 0.2rem solid var(--dark_accent);
}

.send {
  background-color: var(--first_text);
  color: var(--bright_background);
  font-size: 2rem;
  font-weight: 600;
  height: 4.6rem;
  width: 28rem;
  border-radius: 1rem;
  border: none;
  margin-top: 4rem;
}

.send:hover {
  cursor: pointer;
  background-color: var(--third_text);
}

.dinner_img {
  display: flex;
  margin-left: 8.2rem;
}

.dinner_img {
  height: 58.4rem;
  width: 37.8rem;
  border-top-right-radius: 1.1rem;
  border-bottom-right-radius: 1.1rem;
  opacity: 0.7;
}

/* FOOTER */

footer {
  border: 1px solid var(--footer_border);
}

.basement {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  padding: 4.8rem;
}

.social {
  display: flex;
  margin: 2rem 0 2rem 0;
  gap: 2rem;
}

.insta,
.facebook,
.twitter {
  height: 2.8rem;
  width: 2.4rem;
  transition: transform 1.2s ease-in-out;
}

.insta:hover,
.facebook:hover,
.twitter:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.basement p {
  color: var(--third_text);
  width: 24rem;
}

.basement h2 {
  color: var(--second_text);
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

.basement h3 {
  color: var(--second_text);
  line-height: 2.56rem;
  font-size: 1.6rem;
  font-weight: normal;
  width: 20rem;
  margin-bottom: 1rem;
}

.third_column,
.fourth_column,
.fifth_column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fifth_column p:last-child {
  width: 1rem;
}

.android {
  width: 0.5rem;
}
